openapi: 3.0.2
info:
  contact:
    email: support@belvo.com
    name: Need help?
    url: https://developers.belvo.com
  description: |
    # Introduction

    Belvo is an open banking API for Latin America that allows companies to access banking and fiscal information in a secure as well as agile way.

    Through our API, you can access:


    - **Bank information** such as account information, real-time
    balance, historical transactions, and account owner identification.

    - **Fiscal information** such as received and sent invoices and tax returns.


    <img src="https://files.readme.io/acf27d3-belvo_pipes.png"
    alt="fiscal-endpoints">


    In this API reference you'll find all the information you need about each

    endpoint and resource.


    <div style="background-color:#f4f6f8; border-left: 6px solid
    #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right:
    25px">

    <strong>Tip: </strong> Make sure that you also check out our Developer
    Portal for guides on <a
    href="https://developers.belvo.com/docs/get-started-in-5-minutes"
    target="_blank">how to get started</a>, using our <a
    href="https://developers.belvo.com/docs/test-in-sandbox"
    target="_blank">Sandbox environment</a>, as well as how to <a
    href="https://developers.belvo.com/docs/connect-widget"
    target="_blank">integrate the widget</a> or use our <a
    href="https://developers.belvo.com/docs/quickstart-application"
    target="_blank">quickstart application</a>.

    </div>


    ## Environment

    We currently offer three environments: sandbox, development, and
    production.


    When using our SDKs, make sure to use the **Alias** (and not the Base URL).


    | Environment | Purpose | Access |
    |-----------|-------|-------|
    | **Sandbox** | The [Sandbox environment](https://developers.belvo.com/docs/test-in-sandbox) is dedicated for your testing and development phases. In this environment, you can create links without real credentials and you can pull test data from all endpoints. **⚠️The sandbox environment is refreshed frequently and your test data can be updated or deleted.** | Base URL (cURL): https://sandbox.belvo.com/ <br><br>Alias (SDKs): sandbox|
    |**Development**|The Development environment is dedicated for testing with real credentials and institutions with real-world institutions. You can create up to 25 links for free in this environment.| Base URL (cURL): https://development.belvo.com/ <br><br>Alias (SDKs): development |
    | **Production** | The Production environment is dedicated for live applications with real connections to institutions. In this environment, you
    will need real credentials to create links and you will pull real data from the institutions.| Base URL (cURL): https://api.belvo.com/ <br><br>Alias
    (SDKs): production|


    For each environment, you'll need to [generate separate API
    keys](https://developers.belvo.com/docs/get-your-belvo-api-keys).


    ## Response codes


    We use the following HTTP status code in the response depending on the
    success or failure:


    | Status Code | Description |
    |-----------|-------|
    | `200` | ✅ **Success** - The content is available in the response body. |
    | `201` | ✅ **Success** - The content was created successfully on Belvo. |
    | `204` | ✅ **Success** - No content to return. |
    | `400` | ❌ **Bad Request Error** - Request returned an error, detail in content.|
    | `401` | ❌ **Unauthorized** - The Belvo credentials provided are not valid.|
    | `404` | ❌ **Not Found** - The resource you try to access cannot be found.|
    | `405` | ❌ **Method Not Allowed** - The HTTP method you are using is not accepted for this resource.|
    | `408` | ❌ **Request Timeout** - The request timed out and was terminated by the server.|
    | `428` | ❌ **MFA Token Required** - MFA token was required by the institution to connect. |
    | `500` | ❌ **Internal Server Error** - The detail of the error is available in the response body.|


    ## Error handling


    ### Error messages


    Belvo API errors are returned in JSON format. For example, an error might
    look like this:


    ```json

    [
        {
          "request_id": "a6e1c493d7a29d91aed4338e6fcf077d",
          "message": "This field is required.",
          "code": "required",
          "field": "link"
        }
    ]

    ```


    Typically, an error response will have the following parameters:

    - `request_id`: a unique ID for the request, you should share it with the
    Belvo support team for investigations.

    - `message`: human-readable description of the error.

    - `code`: a unique code for the error. Check the table below to see how to
    handle each error code.

    - `field` *(optional)*: The specific field in the request body that has an
    issue.



    ### Request identifier

    When you need help with a specific error, add the request identifier
    (`request_id`) in your message to the Belvo support team. This will speed up
    investigations and get you back up and running in no time at all.


    ### Error codes and troubleshooting


    For a full list of errors and how to troubleshoot them, please see our
    dedicated [Error handling
    articles](https://developers.belvo.com/docs/integration-overview#error-handling)
    in our DevPortal.



    ### Retry policy


    Please see our recommended [retry
    policies](https://developers.belvo.com/docs/integration-overview#error-retry-policy)
    in the DevPortal.
  title: Belvo API Docs
  version: 1.35.0
  x-logo:
    url: https://files.readme.io/5111448-belvo-for-developers.svg
    altText: Belvo logo
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
- description: Sandbox
  url: https://sandbox.belvo.com
- description: Development
  url: https://development.belvo.com
security:
- basicAuth: []
tags:
- description: |-
    A **Link** is a set of credentials associated to an end-user's access to an **institution**.

    <div style="background-color:#f4f6f8; border-left: 6px solid #808080;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
    <strong>Example: </strong> The username and password combination used to log in to an online banking application would be a link.
    </div>

    You will need to register a **Link** before accessing information from that specific end-user, such as account or transaction details.

    <div style="background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
    <strong>Note: </strong> We recommend using our <a href="https://developers.belvo.com/docs/connect-widget" target="_blank">Connect Widget</a> to handle link creation and link status updates.
    </div>

    You have the possibility to register two types of links:

    ### Recurrent links (default)

    With recurrent links, Belvo automatically refreshes information weekly and notifies you via [Webhooks](https://developers.belvo.com/docs/webhooks) so you always have up-to-date data. Then, when you receive the webhook, you can make GET requests to the List or Detail endpoints to instantly access up-to-date information, without needing to connect to the institution.

    <img src="https://files.readme.io/7b6c0d4-Recurrent_Link_FLow.png" alt="fiscal-endpoints" width="950">

    You can also make POST calls directly to the institution, as with single links, as soon as the link is created. However, we recommend you follow the flow described above (waiting for the webhook event) for a more optimal experience.

    ### Single links

    Single links are used to perform ad hoc data access to accounts, owners, transactions, and so on. For example, you can use it when you want to do an underwriting process to assess risk before lending money.

    For single links, you have to perform POST calls to an institution **every time** you want to access fresh data.

    <img src="https://files.readme.io/eda7956-Single_Link_Flow.svg" alt="fiscal-endpoints" width="950">
  name: Links
- description: "An **account** is the representation of a bank account inside a financial\
    \ institution. A user can have one or more accounts in an institution. \n\nFor\
    \ example, one user (or link) can have a checking account, several credit cards,\
    \ and a loan account.\n\nQuerying for a user's account information is useful as\
    \ you can get information regarding:\n\n- what types of accounts the user has\n\
    - the balance for each account (savings, checking, credit card, loan, and so on)\n\
    \n\n> \U0001f6a7 Scheduled field deprecation\n> \n> Please note that we will soon\
    \ be deprecating the following fields in our `loan_data` object:\n> \n> - `cutting_date`\n\
    > - `cutting_day`\n> - `credit_limit`: replaced by the `principal` field.\n> -\
    \ `interest_rate`: replaced by the `interest_rates` object.\n> - `last_payment_date`\n\
    > - `last_period_balance`: replaced by the `outstanding_balance ` field.\n> -\
    \ `limit_day`\n> - `limit_date`: replaced by the `payment_day ` field.\n> - `no_interest_payment`\n\
    > - `payment_due_day`\n\n### **\U0001f526 Filterable fields**\n\nPlease see the\
    \ table below for an alphabetized list of fields that you can filter your responses\
    \ by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
    \ article.\n\n| Field                         | Available Filters            \
    \          |\n| ----------------------------- | --------------------------------------\
    \ |\n| `balance__available`          | `=`, `gt`, `gte`, `lt`, `lte`, `range`\
    \ |\n| `balance__current`            | `=`, `gt`, `gte`, `lt`, `lte`, `range`\
    \ |\n| `bank_product_id`             | `=`                                   \
    \ |\n| `category`                    | `=`, `in`                             \
    \ |\n| `created_at `                 | `gt`, `gte`, `lt`, `lte`, `range`     \
    \ |\n| `currency`                    | `=`\\*, `in`                          \
    \  |\n| `id`                          | `=`, `in`                            \
    \  |\n| `institution`                 | `=`, `in`                            \
    \  |\n| `internal_identification`     | `=`                                  \
    \  |\n| `link`                        | `=`, `in`                            \
    \  |\n| `name`                        | `=`, `icontains`                     \
    \  |\n| `number`                      | `=`, `in`                            \
    \  |\n| `public_identification_name`  | `=`                                  \
    \  |\n| `public_identification_value` | `=`                                  \
    \  |\n| `type`                        | `=`, `in`                            \
    \  |\n\n```curl cURL\n## Filtering results to have savings accounts with a balance\n\
    ## between 5000 and 8000 Colombian pesos\nhttps://sandbox.belvo.com/api/accounts/?category=savings&balance__available__range=5000,8000&currency=COP\n\
    ```\n```javascript Node\n// Filtering results to have savings accounts with a\
    \ balance\n// between 5000 and 8000 Colombian pesos\nclient.accounts.list({\n\
    \  filters: {\n    category: \"savings\",\n    balance__available__range: \"5000,8000\"\
    ,\n    currency: \"COP\"\n  }\n})\n```\n```python Python\n## Filtering results\
    \ to have savings accounts with a balance\n## between 5000 and 8000 Colombian\
    \ pesos\nclient.Accounts.list(category=\"savings\",balance__available__range=\"\
    5000,8000\",currency=\"COP\")\n```\n```ruby Ruby\n## Filtering results to have\
    \ savings accounts with a balance\n## between 5000 and 8000 Colombian pesos\n\
    client.accounts.list(params: {\n  category: \"savings\",\n  balance__available__range:\
    \ \"5000,8000\",\n  currency: \"COP\"\n})\n```"
  name: Accounts
- description: |-
    A **transaction** contains the detailed information of each movement inside an account. For example, a purchase at a store or a restaurant.

    ### **🔦 Filterable fields**

    Please see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.

    | Field                         | Available Filters                      |
    | ----------------------------- | -------------------------------------- |
    | `account`                     | `=`, `in`                              |
    | `account**balance**available` | `=`, `lt`, `lte`, `range`              |
    | `account**balance**current`   | `=`, `gt`, `gte`, `lt`, `lte`, `range` |
    | `account_type`                | `=`, `in`                              |
    | `accounting_date`             | `=`, `gt`, `gte`, `lt`, `lte`, `range` |
    | `amount`                      | `=`, `gt`, `gte`, `lt`, `lte`, `range` |
    | `credit_card_data__bill_name` | `=`, `in`                              |
    | `created_at `                 | `gt`, `gte`, `lt`, `lte`, `range`      |
    | `currency`                    | `=`, `in`                              |
    | `id`                          | `=`, `in`                              |
    | `institution`                 | `=`, `in`                              |
    | `link`                        | `=`, `in`                              |
    | `reference`                   | `=`, `in`                              |
    | `status`                      | `=`, `in`                              |
    | `type`                        | `=`, `in`                              |
    | `value_date`                  | `=`, `gt`, `gte`, `lt`, `lte`, `range` |

    ```curl cURL
    # Filtering results to have transactions just from one link
    https://api.belvo.com/api/transactions/?link=link_id

    # Filtering results to have transactions just form one link and between a date range
    https://api.belvo.com/api/transactions/?link=link_id&value_date__range=2020-10-01,2020-12-01

    ```
    ```javascript Node
    // Filtering results to have transactions just from one link

    client.transactions.list({
      filters: {
        link: "link_id"
      }
    })

    // Filtering results to have transactions just form one link and between a date range
    client.transactions.list({
      filters: {
        link: "link_id",
        value_date__range: "2020-10-01,2020-12-01"
      }
    })

    ```
    ```python Python
    # Filtering results to have links just from two institutions
    client.Transactions.list(link="link_id")

    # Filtering results from one institution and a certain status
    client.Transactions.list(link="link_id", value_date__range="2020-10-01,2020-12-01")

    ```
    ```ruby Ruby
    # Filtering results to have links just from two institutions
    client.transactions.list(params: {
      link: "link_id"
    })

    # Filtering results from one institution and a certain status
    client.transactions.list(params: {
      link: "link_id",
      value_date__range: "2020-10-01,2020-12-01"
    })
    ```
  name: Transactions
- description: "A **balance** represents the amount of funds available in a checking\
    \ or savings account over a period of time.\n\n<ul>\n  <li>\n    If your Balance\
    \ request is not for a checking or savings account, we return\n    an empty array.\n\
    \  </li>\n  <li>\n    If we cannot calculate the balance for a given day within\
    \ your requested\n    period, the <code>balance</code> and <code>current_balance</code>\
    \ fields\n    will return <code>null</code> for that day.\n  </li>\n</ul>\n\n\
    > \U0001f4d8 \n> \n> Savings accounts that do not have any associated transactions\
    \ (for example, some _poupança_ accounts in Brazil) will not contain accurate\
    \ Balance information. We do not recommend using the Balance endpoint for these\
    \ types of accounts. \n> \n> Savings accounts vary from institution to institution,\
    \ so we recommend that you first use our [Retrieve transactions for a link](https://developers.belvo.com/reference/retrievetransactions)\
    \ request, adding the `account` in the request body, to see if the Savings account\
    \ has any associated transactions.\n\n\n### **\U0001f526 Filterable fields**\n\
    \nPlease see the table below for an alphabetized list of fields that you can filter\
    \ your responses by. For more information on how to use filters, see our [Filtering\
    \ responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\
    \n| Field             | Available Filters                      |\n| -----------------\
    \ | -------------------------------------- |\n| `account`         | `=`, `in`\
    \                              |\n| `account_type`    | `=`, `in`            \
    \                  |\n| `balance`         | `=`, `gt`, `gte`, `lt`, `lte`, `range`\
    \ |\n| `currency`        | `=`, `in`                              |\n| `current_balance`\
    \ | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n| `id`              | `=`, `in`\
    \                              |\n| `institution`     | `=`, `in`            \
    \                  |\n| `link`            | `=`, `in`                        \
    \      |\n| `value_date`      | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n\n```curl\
    \ cURL\n# Filtering results to have balances greater than 5000\nhttps://api.belvo.com/api/balances/?balance__gt=5000\
    \ \n\n# Filtering results to have balances greater than 5000 and in Brazilian\
    \ Reis\nhttps://api.belvo.com/api/balances/?balance__gt=5000&currency=BRL\n```\n\
    ```javascript Node\n//  Filtering results to have balances greater than 5000\n\
    client.balances.list({\n  filters: {\n    balance__gt: 5000\n  }\n})\n\n//  Filtering\
    \ results to have balances greater than 5000 and in Brazilian Reis\n\nclient.balances.list({\n\
    \  filters: {\n    balance__gt: 5000,\n    currency: \"BRL\"\n  }\n})\n```\n```python\
    \ Python\n# Filtering results to have balances greater than 5000\nclient.Balances.list(balance__gt=5000)\n\
    \n# Filtering results to have balances greater than 5000 and in Brazilian Reis\n\
    client.Balances.list(balance__gt=5000, currency=\"BRL\")\n```\n```ruby Ruby\n\
    # Filtering results to have balances greater than 5000\nclient.balances.list(params:\
    \ {\n  balance__gt: 5000\n})\n\n# Filtering results to have balances greater than\
    \ 5000 and in Brazilian Reis\nclient.balances.list(params: {\n  balance__gt: 5000,\n\
    \  currency: \"BRL\"\n})\n```"
  name: Balances
- description: |-
    An **owner** represents the person who has access to a Link and is the owner of all the accounts inside the Link.

    You can use this endpoint in order to get useful information about your client, such as:

    - their full name
    - key contact information
    - information about the ID document they used when opening the account

    ### **🔦 Filterable fields**

    Please see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.

    | Field         | Available Filters                 |
    | ------------- | --------------------------------- |
    | `created_at ` | `gt`, `gte`, `lt`, `lte`, `range` |
    | `email`       | `=`                               |
    | `id`          | `=`, `in`                         |
    | `link`        | `=`, `in`                         |

    ```curl cURL
    # Filtering results so that you get the emails of one link:
    https://sandbox.belvo.com/api/owners/?email=filtering@belvo.com

    ```
    ```javascript Node
    // Filtering results so that you get the emails of one link:
    client.owners.list({
      filters: {
        email: "filtering@belvo.com"
      }
    })

    ```
    ```python Python
    # Filtering results so that you get the emails of one link:
    client.Owners.list(email="filtering@belvo.com")

    ```
    ```ruby Ruby
    # Filtering results so that you get the emails of one link:
    client.owners.list(params: {
      email: "filtering@belvo.com"
    })

    })
    ```
  name: Owners
- description: |-
    At the moment we only support the following institutions and investment products:

    | Institution                     | Portfolio                         | Instruments                 |
    | ------------------------------- | --------------------------------- | --------------------------- |
    | Banco de Brazil Retail (Brazil) | `FIXED_INCOME`                    | `DEPOSIT`                   |
    | Banco Inter Retail (Brazil)     | `FIXED_INCOME`                    | `DEPOSIT`                   |
    | Bradesco Retail (Brazil)        | `FIXED_INCOME`, `VARIABLE_INCOME` | `DEPOSIT`, `FUND`           |
    | CaixaBank Retail (Brazil)       | `FIXED_INCOME`, `VARIABLE_INCOME` | `DEPOSIT`, `FUND`           |
    | Itau Retail (Brazil)            | `FIXED_INCOME`, `VARIABLE_INCOME` | `DEPOSIT`, `FUND`, `STOCKS` |
    | Santander Retail (Brazil)       | `FIXED_INCOME`, `VARIABLE_INCOME` | `DEPOSIT`, `BOND`, `FUND`   |


    ### **🔦 Filterable fields**

    Please see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.

    | Field         | Available Filters                 |
    | ------------- | --------------------------------- |
    | `created_at ` | `gt`, `gte`, `lt`, `lte`, `range` |
    | `link`        | `=`, `in`                         |

    ```curl cURL
    # Filtering results so that you get the portfolios of one link:
    https://sandbox.belvo.com/investments/portfolios/?link=89c91f42-df34-4c5d-a4f1-6e1e40438af4

    ```
    ```javascript Node
    // Filtering results so that you get the portfolios of one link:
    client. investmentsPortfolios.list({
      filters: {
        link: "89c91f42-df34-4c5d-a4f1-6e1e40438af4"
      }
    })

    ```
    ```python Python
    # Filtering results so that you get the portfolios of one link:
    client. InvestmentsPortfolios.list(link="89c91f42-df34-4c5d-a4f1-6e1e40438af4")

    ```
    ```ruby Ruby
    # Filtering results so that you get the portfolios of one link:
    client. investments_portfolio.list(params: {
      link: "89c91f42-df34-4c5d-a4f1-6e1e40438af4"
    })
    ```
  name: Investment Portfolios
- description: |-
    Use the Incomes endpoint to gather insights on an account's income sources for the past 365 days. The endpoint is particularly useful when you want to verify a person's income.

    <div style="background-color:#f4f6f8; border-left: 6px solid #0663F9;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
        <strong>Info: </strong> The incomes resource is <b>only</b> available for Checking and Savings
    accounts associated with banking links.
     </div>


     ### **🔦 Filterable fields**

    Please see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.

    | Field        | Available Filters                 |
    | ------------ | --------------------------------- |
    | `account`    | `=`, `in`                         |
    | `created_at` | `gt`, `gte`, `lt`, `lte`, `range` |
    | `id`         | `=`, `in`                         |

    ```curl cURL
    # Filtering results to have incomes from one link:
    https://sandbox.belvo.com/api/incomes/?link=link-id

    # Filtering results to have incomes from one link and from two of their accounts:
    https://sandbox.belvo.com/api/incomes/?link=link-id&account__in=account-id1,account-id2
    ```
    ```javascript Node
    // Filtering results to have incomes from one link:
    client.incomes.list({
      filters: {
        link: "link-id"
      }
    })

    // Filtering results to have incomes from one link and from two of their accounts:

    client.incomes.list({
      filters: {
        link: "link-id",
        account__in: "account-id1,account-id2"
      }
    })
    ```
    ```python Python
    # Filtering results to have incomes from one link:
    client.Incomes.list(link="link-id")

    # Filtering results to have incomes from one link and from two of their accounts:
    client.Incomes.list(link="link-id", account__in="account-id1,account-id2")
    ```
    ```ruby Ruby
    # Filtering results to have incomes from one link:
    client.incomes.list(params: {
      link: "link-id"
    })

    # Filtering results to have incomes from one link and from two of their accounts:
    client.incomes.list(params: {
      link: "link-id",
      account__in: "account-id1,account-id2"
    })
    ```
  name: Incomes
- description: |-
    Belvo's Recurring Expenses API allows you to identify a user's regular payments for subscription services, such as Netflix or gym memberships, as well as utility payments, such as electricity or phone bills. We return information for up to 365 days.

    <div style="background-color:#f4f6f8; border-left: 6px solid #0663F9;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
        <strong>Info: </strong> The recurring expenses resource is <b>only</b> available for Checking and Savings accounts associated with banking links.
     </div>

     ### **🔦 Filterable fields**

    Please see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.

    | Field     | Available Filters |
    | --------- | ----------------- |
    | `account` | `=`, `in`         |
    | `id`      | `=`, `in`         |
    | `link`    | `=`, `in`         |

    ```curl cURL
    # Filtering results so that you get the recurring expenses of one account:
    https://sandbox.belvo.com/api/recurring-expenses/?account=89c91f42-df34-4c5d-a4f1-6e1e40438af4

    ```
    ```javascript Node
    // Filtering results so that you get the recurring expenses of one account:
    client. recurringExpenses.list({
      filters: {
        account: "89c91f42-df34-4c5d-a4f1-6e1e40438af4"
      }
    })

    ```
    ```python Python
    # Filtering results so that you get the recurring expenses of one account:
    client. RecurringExpenses.list(account="89c91f42-df34-4c5d-a4f1-6e1e40438af4")

    ```
    ```ruby Ruby
    # Filtering results so that you get the recurring expenses of one account:
    client. recurring_expenses.list(params: {
      account: "89c91f42-df34-4c5d-a4f1-6e1e40438af4"
    })
    ```
  name: Recurring Expenses
- description: "Belvo's Risk Insights endpoint exposes a set of features that can\
    \ be used to improve your company's credit risk and opportunity decisions. This\
    \ set of features can be used as building blocks to create or iterate on your\
    \ credit score using transactional banking data to improve the predictive power\
    \ of your models. You can use these components as you require and make the most\
    \ sense for your specific use case. \n\nWe take up to 90 days of transactional\
    \ data from the user's checking, savings, loans, and credit card accounts to calculate\
    \ the risk insights.\n\nIf you need to know the currency of the account, do a\
    \ GET Details to the Accounts endpoint (using the account ID you receive from\
    \ in the accounts array of the response).\n\n### **\U0001f526 Filterable fields**\n\
    \nPlease see the table below for an alphabetized list of fields that you can filter\
    \ your responses by. For more information on how to use filters, see our [Filtering\
    \ responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\
    \n| Field  | Available Filters |\n| ------ | ----------------- |\n| `id`   | `=`,\
    \ `in`         |\n| `link` | `=`, `in`         |\n\n```curl cURL\n# Filtering\
    \ results so that you get the risk insights of one link:\nhttps://sandbox.belvo.com/api/risk-insights/?link=89c91f42-df34-4c5d-a4f1-6e1e40438af4\n\
    \n```\n```javascript Node\n// Filtering results so that you get the risk insights\
    \ of one link:\nclient. riskInsights.list({\n  filters: {\n    account: \"89c91f42-df34-4c5d-a4f1-6e1e40438af4\"\
    \n  }\n})\n\n```\n```python Python\n# Filtering results so that you get the risk\
    \ insights of one link:\nclient. RiskInsights.list(link=\"89c91f42-df34-4c5d-a4f1-6e1e40438af4\"\
    )\n\n```\n```ruby Ruby\n# Filtering results so that you get the risk insights\
    \ of one link:\nclient. risk_insights.list(params: {\n  link: \"89c91f42-df34-4c5d-a4f1-6e1e40438af4\"\
    \n})\n```"
  name: Risk Insights
- description: "An **invoice** is the representation of an electronic invoice, that\
    \ can be received or sent, by a business or an individual and has been uploaded\
    \ to the fiscal institution's website. Multiple INFLOW (invoice received) and\
    \ OUTFLOW (invoice sent) invoices can be retrieved inside each link coming from\
    \ a fiscal institution.\n\n### **\U0001f526 Filterable fields**\n\nPlease see\
    \ the table below for an alphabetized list of fields that you can filter your\
    \ responses by. For more information on how to use filters, see our [Filtering\
    \ responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\
    \n| Field                    | Available Filters                      |\n| ------------------------\
    \ | -------------------------------------- |\n| `created_at `            | `gt`,\
    \ `gte`, `lt`, `lte`, `range`      |\n| `id`                     | `=`, `in` \
    \                             |\n| `invoice_date`           | `=`, `gt`, `gte`,\
    \ `lt`, `lte`, `range` |\n| `invoice_identification` | `=`, `gt`, `gte`, `lt`,\
    \ `lte`, `range` |\n| `link`                   | `=`, `in`                   \
    \           |\n| `status`                 | `=`, `in`                        \
    \      |\n| `total_amount`           | `=`, `gt`, `gte`, `lt`, `lte`, `range`\
    \ |\n| `type`                   | `=`, `in`                              |\n\n\
    ```curl cURL\n# Filtering results so that you get Tax Returns from one link:\n\
    https://sandbox.belvo.com/api/invoices/?link=link-id\n\n# Filtering results so\
    \ that you get Tax Returns from two links \n# and are of type normal and their\
    \ status is vigente:\nhttps://sandbox.belvo.com/api/invoices/?link__in=link-id1,link-id2&informacion_general__tipo_declaracion=Normal&status=vigente\n\
    ```\n```javascript Node\n//  Filtering results so that you get the Tax Returns\
    \ from one link:\nclient.invoices.list({\n  filters: {\n    link: \"link-id\"\n\
    \  }\n})\n\n//  Filtering results so that you get the Tax Returns from two links\n\
    // and are of type normal and their status is vigente:\nclient.invoices.list({\n\
    \  filters: {\n    link__in: \"link-id-1, link-id-2\",\n    informacion_general__tipo_declaracion:\
    \ \"Normal\",\n    status: \"vigente\"\n  }\n})\n\n```\n```python Python\n# Filtering\
    \ results so that you get the Tax Return from one link:\nclient.invoices.list(link=\"\
    link-id\")\n\n# Filtering results so that you get the Tax Returns from two links\n\
    # # and are of type normal and their status is vigente:\nclient.invoices.list(link__in=\"\
    link-id1,link-id2\", informacion_general__tipo_declaracion=\"Normal\", status=\"\
    vigente\")\n```\n```ruby Ruby\n# Filtering results so that you get the Tax Return\
    \ from one link:\nclient.invoices.list(params: {\n  link: \"link-id\"\n})\n\n\n\
    # Filtering results so that you get the Tax Returns from two links\n# and are\
    \ of type normal and their status is vigente:\nclient.invoices.list(params: {\n\
    \  link__in: \"link-id1, link-id1\",\n  informacion_general__tipo_declaracion:\
    \ \"Normal\",\n  status: \"vigente\"\n})\n```"
  name: Invoices
- description: |-
    With our receivable transactions resource, you can gain access to every transaction processed by the end user (business) conducted through a POS terminal. For each transaction, we return the:

    - gross and net amounts
    - type of card used
    - fees applied to the transaction
    - and more!
  name: Receivable Transactions
- description: |-
    # Employment Records

    Our employment records resource lets you get a comprehensive view of your user’s current social security contributions and employment history.

    With Belvo's employment records resource, you can access information about your user's current social security contributions and employment history. For the each user, we return the:

    - personal data
    - work history
    - historical and current daily base salary
    - and more!

    At the moment, the employment records resource is available for:

    - 🇲🇽 Mexico (IMSS)
  name: Employment Records
- description: |-
    Our Tax declarations endpoint lets you retrieve the electronic representation of the tax declaration document emitted by a country's tax authority.

    At the moment, the Tax Declaration resource is available for:

    - 🇨🇴 Colombia (DIAN)
  name: Tax declarations
- description: |-
    A **tax return** is the representation of the tax return document sent every year by a person or a business to the tax authority in the country.

    The tax return data structure will be different depending on if it is related to a person or a business (you will find examples for both in the endpoints below).

    ### **🔦 Filterable fields**

    | Field                                   | Available Filters                      |
    | --------------------------------------- | -------------------------------------- |
    | `created_at `                           | `gt`, `gte`, `lt`, `lte`, `range`      |
    | `id`                                    | `=`, `in`                              |
    | `ejercicio`                             | `=`, `gt`, `gte`, `lt`, `lte`, `range` |
    | `tipo_declaracion`                      | `=`, `in`                              |
    | `link`                                  | `=`, `in`                              |

    ```curl cURL
    # Filtering results so that you get Tax Returns from one link:
    https://api.belvo.com/api/tax-returns/?link=link-id

    # Filtering results so that you get Tax Returns from two links and are of type normal:
    https://api.belvo.com/api/tax-returns/?link__in=link-id1,link-id2&tipo_declaracion=Normal,
    ```
    ```javascript Node
    //  Filtering results so that you get the Tax Returns from one link:
    client.taxReturns.list({
      filters: {
        link: "link-id"
      }
    })

    //  Filtering results so that you get the Tax Returns from two links and are of type normal:
    client.taxReturns.list({
      filters: {
        link__in: "link-id-1, link-id-2",
        tipo_declaracion: "Normal"
      }
    })

    ```
    ```python Python
    # Filtering results so that you get the Tax Return from one link:
    client.TaxReturns.list(link="link-id")

    # Filtering results so that you get the Tax Returns from two links and are of type normal:
    client.TaxReturns.list(link__in="link-id1,link-id2", tipo_declaracion: "Normal")
    ```
    ```ruby Ruby
    # Filtering results so that you get the Tax Return from one link:
    client.tax_returns.list(params: {
      link: "link-id"
    })


    # Filtering results so that you get the Tax Returns from two links and are of type normal:
    client.tax_returns.list(params: {
      link__in: "link-id1, link-id1",
      tipo_declaracion: "Normal"
    })
    ```
  name: Tax returns
- description: "Our **Tax status** endpoint lets you retrieve information about a\
    \ person's or business's tax situation, according to the country's tax authority.\
    \ \n\n- For SAT (Mexico), this information is extracted from the _Constancia de\
    \ situación fiscal_ document.\n- For DIAN (Colombia), this information is extracted\
    \ from the _Registro Único Tributario_ document.\n\n\n\n### **\U0001f526 Filterable\
    \ fields**\n\nPlease see the table below for an alphabetized list of fields that\
    \ you can filter your responses by. For more information on how to use filters,\
    \ see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
    \ article.\n\n| Field         | Available Filters                 |\n| -------------\
    \ | --------------------------------- |\n| `created_at ` | `gt`, `gte`, `lt`,\
    \ `lte`, `range` |\n| `id`          | `=`, `in`                         |\n| `link`\
    \        | `=`, `in`                         |\n\n```curl cURL\n# Filtering results\
    \ so that you get institutions from just one link:\nhttps://api.belvo.com/api/institutions/?link=link\n\
    ```\n```javascript Node\n//  Filtering results so that you get institutions from\
    \ just one link:\nclient.taxstatus.list({\n  filters: {\n    link: \"link_id\"\
    \n  }\n})\n\n```\n```python Python\n# Filtering results so that you get institutions\
    \ from just one link:\nclient.TaxStatus.list(link=\"link\")\n```\n```ruby Ruby\n\
    # Filtering results so that you get institutions from just one link:\nclient.tax_status.list(params:\
    \ {\n  link: \"link\"\n})\n```"
  name: Tax status
- description: "A **tax retention** is the amount of money that the payer must deduct\
    \ from the total amount of a purchase invoice, according to the fiscal institution’\
    s regulations.\n\nWith Belvo’s Tax Retentions resource, you can quickly and easily\
    \ consult information regarding a user’s tax retentions over a given period or\
    \ for a specific invoice. This is particularly useful when you want to aid your\
    \ user in their tax returns as for each invoice you receive the:\n\n- invoice\
    \ amount\n- amount that is exempt from taxation\n- total amount that is taxed\n\
    - breakdown of all the taxes applied to the invoice\n\n\n### **\U0001f526 Filterable\
    \ fields**\n\nPlease see the table below for an alphabetized list of fields that\
    \ you can filter your responses by. For more information on how to use filters,\
    \ see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
    \ article.\n\n| Field         | Available Filters                 |\n| -------------\
    \ | --------------------------------- |\n| `created_at ` | `gt`, `gte`, `lt`,\
    \ `lte`, `range` |\n| `link`        | `=`, `in`                         |\n\n\
    ```curl cURL\n# Filtering results so that you get Tax Retentions from one link:\n\
    https://sandbox.belvo.com/api/tax-retentions/?link=link-id\n\n# Filtering results\
    \ so that you get Tax Retentions from two links \nhttps://api.belvo.com/api/tax-retentions/?link=link-id1,link-id2\n\
    ```\n```javascript Node\n//  Filtering results so that you get the Tax Retentions\
    \ from one link:\nclient.taxRetentions.list({\n  filters: {\n    link: \"link-id\"\
    \n  }\n})\n\n//  Filtering results so that you get the Tax Retentions from two\
    \ links:\nclient.taxRetentions.list({\n  filters: {\n    link__in: \"link-id-1,\
    \ link-id-2\"\n  }\n})\n\n```\n```python Python\n# Filtering results so that you\
    \ get the Tax Retentions from one link:\nclient.TaxRetentions.list(link=\"link-id\"\
    )\n\n# Filtering results so that you get the Tax Retentions from two links:\n\
    client.TaxRetentions.list(link__in=\"link-id1,link-id2\")\n```\n```ruby Ruby\n\
    # Filtering results so that you get the Tax Retentions from one link:\nclient.tax_retentions.list(params:\
    \ {\n  link: \"link-id\"\n})\n\n\n# Filtering results so that you get the Tax\
    \ Retentions from two link:\nclient.tax_retentions.list(params: {\n  link__in:\
    \ \"link-id1, link-id1\"\n})\n```"
  name: Tax retentions
- description: |-
    A **tax compliance status** indicates about whether a person or business is complying with their tax obligations at the moment of the request. The information is extracted from SAT's _Opinion de cumplimiento de Obligaciones Fiscales_ document.

    ### **🔦 Filterable fields**

    Please see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.

    | Field         | Available Filters                 |
    | ------------- | --------------------------------- |
    | `created_at ` | `gt`, `gte`, `lt`, `lte`, `range` |
    | `id`          | `=`, `in`                         |
    | `link`        | `=`, `in`                         |

    ```curl cURL
    # Filtering results so that you get Tax Compliance Status from one link:
    https://api.belvo.com/api/tax-compliance-status/?link=link-id

    # Filtering results so that you get Tax Compliance Status from one link:
    https://api.belvo.com/api/tax-compliance-status/?link=link-id1,link-id2
    ```
    ```javascript Node
    //  Filtering results so that you get the Tax Compliance Status from one link:
    client.taxComplianceStatus.list({
      filters: {
        link: "link-id"
      }
    })

    //  Filtering results so that you get the Tax Compliance Status from two links:
    client.taxComplianceStatus.list({
      filters: {
        link__in: "link-id-1, link-id-2"
      }
    })

    ```
    ```python Python
    # Filtering results so that you get the Tax Compliance Status from one link:
    client.TaxComplianceStatus.list(link="link-id")

    # Filtering results so that you get the Tax Compliance Status from two links:
    client.TaxComplianceStatus.list(link__in="link-id1,link-id2")
    ```
    ```ruby Ruby
    # Filtering results so that you get the Tax Compliance Status from one link:
    client.tax_compliance_status.list(params: {
      link: "link-id"
    })


    # Filtering results so that you get the Tax Compliance Status from two link:
    client.tax_compliance_status.list(params: {
      link__in: "link-id1, link-id1"
    })
    ```
  name: Tax compliance status
- description: |2

    A **payment intent** is a single point of access to create payments using any payment method offered by Belvo.

    A payment intent captures all payment information (such as the amount to be charged, the description of the payment, the provider, and so on) and guides your customers through the payment flow.
  name: Payment Intents
- description: |
    A **customer** is the payer that's going to push funds into your bank account. You need to create a customer in order to receive inflow payments to your organization's bank account.
  name: Customers
- description: |
    To receive inflow payments to your organization's bank account, you must register the bank accounts (individual and business) using Belvo's Payments API.

    - **Individual** bank accounts must be created for each payer (your customer).
    - **Business** bank accounts need to be created for the beneficiary of the payment (your organization).
  name: Bank Accounts
- description: |
    This is a Payment link.
  name: Payment Links
- description: |-
    An **institution** is an entity that Belvo can access information from. It can be a:

    - bank institution, such as Banamex retail banking or HSBC business banking.
    - fiscal institution, such as the Servicio de Administración Tributaria (SAT) in Mexico.

    ![](https://files.readme.io/69a4676-Banking__Tax.png)

    You can see a complete list of institutions by either consulting our [Institutions article](https://developers.belvo.com/docs/institution) or making a List request to this endpoint.
  name: Institutions
- description: |
    # Get your Payments API keys

    In order to use Belvo's Payments API, you need to first request your secret keys (see the code example below):


    ```curl
    POST https://api.belvo.com/payments/secret-keys/
    Authorization: Basic username:password
    ```

    Where:

    - `username` is the username you use to log in to the Belvo dashboard (in plain text).
    - `password` is the password you use to log in to the Belvo dashboard (in plain text).


    If you have entered your credentials correctly, you will receive a **201 Response** with your secret keys:


    ```json
    {
        "id": "Your Belvo secretID",
        "password": "Your Belvo secretPassword"
    }

    ```
  name: Secret Keys
- description: |
    A **payment institution** is an entity that Belvo can access information from. You can see a complete list of institutions available for payments by making a List request to this endpoint.
  name: Payment Institutions
- description: |
    Each time you receive an inflow payment from your customer, a **transaction** is created in the Belvo database.

    You can use the Payment Transactions resource in order to get useful information about a transaction as well as the specific charge associated with it.
  name: Payment Transactions
- description: "Our Categorization resource provides you with categorized information\
    \ for a transaction. You’ll need to send a POST Categorize Transactions request\
    \ with raw transactional information (such as amount, description, and holder\
    \ information) to which Belvo:\n- assigns a standardized category to each transaction\n\
    - provides additional information about the merchant involved in the transaction\
    \ (name, logo, website URL)\n                            "
  name: Categorization
- description: |-
    Verify your users' income and forecast their future income potential with Belvo. Your only need to send trough a your raw transaction data and Belvo returns:

    - insights into your user’s multiple sources of income
    - a stability score that reflects the consistency and regularity of your user’s income history
    - a confidence level for future income
  name: Income Verification
- description: |
    Use our Banking API product to access account, balance, owner, bank statement, as well as transaction data from banking institutions.<br>


    ![](https://files.readme.io/894213c-Banking_and_Gig.png "Banking and Gig.png")


    | API Endpoint                | Description                                                               | Supported institutions |
    | --------------------------- | ------------------------------------------------------------------------- | ---------------------- |
    | `api/accounts/`             | Get information about your customer's bank accounts.                      | Banking        |
    | `api/balances/`             | Get the balance at the end of each day for your customer's bank accounts. | Banking                |
    | `api/owners/`               | Get the details of an account owner.                                      | Banking        |
    | `api/transactions/`         | Get a list of bank transactions with metadata.                            | Banking        |
    | `investments/portfolios/`   | Get information about your customer's investment portfolios.              | Banking                |
  name: Banking API introduction
- description: "Belvo's Enrichment API are a set of endpoints that return additional\
    \ insights on your user's banking data. \n\n- **Incomes**: Use this endpoint to\
    \ verify your user's income.\n- **Recurring Expenses**: Use this endpoint to identify\
    \ the recurrent expenses (such as Netflix subscriptions) that your user pays.\n\
    - **Risk Insights**: Use this endpoint to retrieve key data points to feed into\
    \ your risk evaluation models."
  name: Enrichment API introduction
- description: |-
    Our Enrich Your Own Data (EYOD) product provides you with enriched transaction information and easy-to-use insights about your users incomesfrom various sources, including open finance data or your own dataset.



    | API Endpoint                 | Description                                                                                                                           |
    | ---------------------------- | ------------------------------------------------------------------------------------------------------------------------------------- |
    | `api/categorization/`              | Enrich transactions with category, subcategory, and merchant information. |
    | `api/enrich/incomes`              | Enrich transaction data from any source and gather insights on your user's income sources and asses their future income potential. |
  name: EYOD API introduction
- description: |-
    Use our **Fiscal API** product to access invoices, tax compliance statuses, tax returns, tax retentions, and tax statuses from the fiscal authority in a given country.

    <img src="https://files.readme.io/97c76a8-Fiscal_endpoints_horizontal.png" alt="fiscal-endpoints" width="750">

    | API Endpoint                 | Description                                                                                                                           |
    | ---------------------------- | ------------------------------------------------------------------------------------------------------------------------------------- |
    | `api/invoices/`              | Get all the information about the invoices sent and received by a person or a business that have been certified by the tax authority. |
    | `api/tax-compliance-status/` | Get information about whether a person or business is complying to their tax obligations.                                             |
    | `api/tax-compliance-status/` | Get tax declaration information for your users. At the moment only available for 🇨🇴 DIAN Colombia.                                  |
    | `api/tax-returns/`           | Get all the information about the tax returns sent every year to the tax authority by a person or a business.                         |
    | `api/tax-retentions/`        | Get information about tax retention invoices sent and received by a business or a person.                                             |
    | `api/tax-status/`            | Get all the information about the tax situation of a person or a business.                                                            |

    <div style="background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
    <strong>Note: </strong> You can only access this information with <b>fiscal</b> links.
    </div>
  name: Fiscal API introduction
- description: |
    # Introduction

    This is Belvo's Payment Initiation API - the easiest way to make payments in Latin America. Our solutions are designed to minimize the friction between your app and your customers, making payments effortless and secure. You can make payments in:

    # 🇧🇷 Brazil (OFPI)

    Belvo's Open Finance Payment Initiation (OFPI) in Brazil allows you to collect payments from your customers while optimizing their payment experience.

    - Check out our [OFPI guides](https://developers.belvo.com/docs/ofpi-prerequisites) and start collecting payments in Brazil.
    # 🇨🇴 Colombia (PSE)

    Belvo's Payment Initiation API makes use of Colombia's Pagos Seguros en Línea (PSE) system to make payments securely while also building upon PSE to optimize your user's experience.

    - Check out our [PSE guides](https://developers.belvo.com/docs/pse-prerequisites) and start collecting payments in Colombia.
  name: Payment Initiation introduction
paths:
  /api/links:
    get:
      description: "Get a paginated list of all the existing links in your Belvo account.\
        \ By default, we return up to 100 results per page."
      operationId: Links_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-0-schema
        style: form
      - description: "Indicates how many results to return per page. By default we\
          \ return 100 results per page. \n\nℹ️ The minimum number of results returned\
          \ per page is 1 and the maximum is 1000. If you enter a value greater than\
          \ 1000, our API will default to the maximum value (1000).\n"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-1-schema
        style: form
      - description: "Omit certain fields from being returned in the response. For\
          \ more information, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: omit
        required: false
        schema:
          example: "link,balance"
          type: string
          x-konfig-original-example: "link,balance"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-2-schema
        style: form
      - description: "Return only the specified fields in the response. For more information,\
          \ see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          example: "link,balance,account"
          type: string
          x-konfig-original-example: "link,balance,account"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-3-schema
        style: form
      - description: Return links only with this access mode. Can be either `single`
          or `recurrent`.
        explode: true
        in: query
        name: access_mode
        required: false
        schema:
          example: single
          type: string
          x-konfig-original-example: single
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-4-schema
        style: form
      - description: Return links that were last updated in Belvo's database on this
          date (`YYYY-MM-DD` or full `ISO-8601` timestamp).
        explode: true
        in: query
        name: created_at
        required: false
        schema:
          example: 2022-05-01
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-5-schema
        style: form
      - description: Return links that were last updated in Belvo's database after
          this date (`YYYY-MM-DD` or full `ISO-8601` timestamp).
        explode: true
        in: query
        name: created_at__gt
        required: false
        schema:
          example: 2022-05-05
          type: string
          x-konfig-original-example: 2022-05-05
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-6-schema
        style: form
      - description: Return links that were last updated in Belvo's database after
          or on this date (`YYYY-MM-DD` or full `ISO-8601` timestamp).
        explode: true
        in: query
        name: created_at__gte
        required: false
        schema:
          example: 2022-05-04
          type: string
          x-konfig-original-example: 2022-05-04
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-7-schema
        style: form
      - description: Return links that were last updated in Belvo's database before
          this date (`YYYY-MM-DD` or full `ISO-8601` timestamp).
        explode: true
        in: query
        name: created_at__lt
        required: false
        schema:
          example: 2022-04-01
          type: string
          x-konfig-original-example: 2022-04-01
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-8-schema
        style: form
      - description: Return links that were last updated in Belvo's database before
          or on this date (`YYYY-MM-DD` or full `ISO-8601` timestamp).
        explode: true
        in: query
        name: created_at__lte
        required: false
        schema:
          example: 2022-03-30
          type: string
          x-konfig-original-example: 2022-03-30
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-9-schema
        style: form
      - description: Return links that were last updated in Belvo's database between
          two dates (`YYYY-MM-DD` or full `ISO-8601` timestamp).
        explode: true
        in: query
        name: created_at__range
        required: false
        schema:
          example: "2022-03-03,2022-05-04"
          type: string
          x-konfig-original-example: "2022-03-03,2022-05-04"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-10-schema
        style: form
      - description: Return links that were not created by these Belvo users.
        explode: true
        in: query
        name: created_by__not_in
        required: false
        schema:
          example: "578947e2-3c9a-4401-bbad-59b2f2d2b91b,d3d941ab-4ca5-43c1-8b23-db329ee4cb7e"
          type: string
          x-konfig-original-example: "578947e2-3c9a-4401-bbad-59b2f2d2b91b,d3d941ab-4ca5-43c1-8b23-db329ee4cb7e"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-11-schema
        style: form
      - description: Return links with this external ID.
        explode: true
        in: query
        name: external_id
        required: false
        schema:
          example: InternalUser4000
          type: string
          x-konfig-original-example: InternalUser4000
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-12-schema
        style: form
      - description: Return links with these external IDs.
        explode: true
        in: query
        name: external_id__in
        required: false
        schema:
          example: "InternalUser4000,InternalUser4001"
          type: string
          x-konfig-original-example: "InternalUser4000,InternalUser4001"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-13-schema
        style: form
      - description: Return information only for this `link.id`.
        explode: true
        in: query
        name: id
        required: false
        schema:
          example: 73694155-b871-41ec-94e3-37d17ff62b5d
          type: string
          x-konfig-original-example: 73694155-b871-41ec-94e3-37d17ff62b5d
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-14-schema
        style: form
      - description: Return information only for these `link.id`s.
        explode: true
        in: query
        name: id__in
        required: false
        schema:
          example: "73694155-b871-41ec-94e3-37d17ff62b5d,40968d42-7d89-49e3-9931-78baa8e0544e"
          type: string
          x-konfig-original-example: "73694155-b871-41ec-94e3-37d17ff62b5d,40968d42-7d89-49e3-9931-78baa8e0544e"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-15-schema
        style: form
      - description: "Return links created for this institution (use the Belvo-designated\
          \ name, such as `erebor_mx_retail`)."
        explode: true
        in: query
        name: institution
        required: false
        schema:
          example: erebor_mx_retail
          type: string
          x-konfig-original-example: erebor_mx_retail
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-16-schema
        style: form
      - description: "Return links created for these institutions (use the Belvo-designated\
          \ name, such as `erebor_mx_retail` and `gringotts_co_retail`)."
        explode: true
        in: query
        name: institution__in
        required: false
        schema:
          example: "erebor_mx_retail,gringotts_co_retail"
          type: string
          x-konfig-original-example: "erebor_mx_retail,gringotts_co_retail"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-17-schema
        style: form
      - description: Return links with this specific institution user ID.
        explode: true
        in: query
        name: institution_user_id
        required: false
        schema:
          example: ezFoxjPDr7YnASnOaft5F3zt7D0kurgDNlLtZFjxUo0=
          type: string
          x-konfig-original-example: ezFoxjPDr7YnASnOaft5F3zt7D0kurgDNlLtZFjxUo0=
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-18-schema
        style: form
      - description: Return links with these institution user IDs.
        explode: true
        in: query
        name: institution_user_id__in
        required: false
        schema:
          example: "ezFoxjPDr7YnASnOaft5F3zt7D0kurgDNlLtZFjxUo0=,YwuTM0uEEh1BbVgDZBcNpa_-Tm3l2q8ZkZNrlhp-pNA="
          type: string
          x-konfig-original-example: "ezFoxjPDr7YnASnOaft5F3zt7D0kurgDNlLtZFjxUo0=,YwuTM0uEEh1BbVgDZBcNpa_-Tm3l2q8ZkZNrlhp-pNA="
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-19-schema
        style: form
      - description: "Return links with this refresh rate. Choose between `6h`, `12h`,\
          \ `24h`, `7d`, or `30d`."
        explode: true
        in: query
        name: refresh_rate
        required: false
        schema:
          example: 24h
          type: string
          x-konfig-original-example: 24h
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-20-schema
        style: form
      - description: "Return links with this status. Choose between `valid`, `invalid`,\
          \ `unconfirmed`, or `token_required`."
        explode: true
        in: query
        name: status
        required: false
        schema:
          example: invalid
          type: string
          x-konfig-original-example: invalid
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-21-schema
        style: form
      - description: "Return links with these statuses. Choose between `valid`, `invalid`,\
          \ `unconfirmed`, or `token_required`."
        explode: true
        in: query
        name: status__in
        required: false
        schema:
          example: "invalid,unconfirmed"
          type: string
          x-konfig-original-example: "invalid,unconfirmed"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-get-parameters-22-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseLink'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksListResponse'
          description: Authentication to Belvo API failed
          x-do-not-generate: true
      summary: List all links
      tags:
      - Links
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl https://sandbox.belvo.com/api/links/ \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from pprint import pprint
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # List links
            for link in client.Links.list():
                pprint(link)
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.links.list
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.links.list()
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-links
      x-accepts: application/json
    patch:
      description: Used to resume a Link register session that was paused because
        an MFA token was required by the institution.
      operationId: Links_completeRequest
      parameters:
      - description: "Omit certain fields from being returned in the response. For\
          \ more information, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: omit
        required: false
        schema:
          example: "link,balance"
          type: string
          x-konfig-original-example: "link,balance"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-patch-parameters-0-schema
        style: form
      - description: "Return only the specified fields in the response. For more information,\
          \ see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          example: "link,balance,account"
          type: string
          x-konfig-original-example: "link,balance,account"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-patch-parameters-1-schema
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchBodyWithoutSaveData'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksCompleteRequestResponse'
          description: Bad request error
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksCompleteRequest401Response'
          description: Authentication to Belvo API failed
          x-do-not-generate: true
        "428":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksCompleteRequest428Response'
          description: MFA Token Required
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksCompleteRequest500Response'
          description: Unexpected Error
          x-do-not-generate: true
      summary: Complete a links request
      tags:
      - Links
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X PATCH \
              https://sandbox.belvo.com/api/links/ \
              -H 'Content-Type: application/json' \
              -H 'Host: sandbox.belvo.com' \
              -H 'cache-control: no-cache' \
              -d '{
                  "session": "",
                  "token": "",
                  "link": ""
              }' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Resume a link
            link = client.Links.resume(
              session="session_id",
              token="token",
              link="link_id"
            )
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.links.resume(
              session_id: 'your-session-id',
              token: 'otp-token',
              link: 'link-id'
            )
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.links.resume('yourSessionId', 'yourOTPToken', 'linkId')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--api-links
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: |
        Register a new link with your Belvo account.

        <div style="background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
        <strong>Note: </strong> We recommend using our <a href="https://developers.belvo.com/docs/connect-widget" target="_blank">Connect Widget</a> to handle link creation and link status updates.
        </div>
      operationId: Links_register
      parameters:
      - description: "Omit certain fields from being returned in the response. For\
          \ more information, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: omit
        required: false
        schema:
          example: "link,balance"
          type: string
          x-konfig-original-example: "link,balance"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-post-parameters-0-schema
        style: form
      - description: "Return only the specified fields in the response. For more information,\
          \ see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          example: "link,balance,account"
          type: string
          x-konfig-original-example: "link,balance,account"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-post-parameters-1-schema
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinksRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksRegisterResponse'
          description: Bad request error
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksRegister401Response'
          description: Authentication to Belvo API failed
          x-do-not-generate: true
        "428":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksRegister428Response'
          description: MFA Token Required
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksRegister500Response'
          description: Unexpected Error
          x-do-not-generate: true
      summary: Register a new link
      tags:
      - Links
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X POST \
              https://sandbox.belvo.com/api/links/ \
              -H 'Content-Type: application/json' \
              -H 'Host: sandbox.belvo.com' \
              -H 'cache-control: no-cache' \
              -d '{
                "institution": "",
                "username": "",
                "password": ""
            }' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Register a link
            link = client.Links.create(
                institution="erebor_mx_retail",
                username="johndoe",
                password="supersecret"
            )
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.links.register(
              institution: 'erebor_mx_retail',
              username: 'johndoe',
              password: 'supersecret'
            )
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.links.register('erebor_mx_retail', 'johndoe', 'supersecret')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-links
      x-content-type: application/json
      x-accepts: application/json
  /api/links/{id}:
    delete:
      description: "Delete a specific link and all associated accounts, transactions,\
        \ and owners from your Belvo account.\n# Deleting links in batches\nTo delete\
        \ links in bulk, we recommend looping through the list of links you want to\
        \ delete and making the delete request.\n\n  > \U0001f6a7 **Rate limiting\
        \ and IP blocking**\n  > \n  > An important technical note for performing\
        \ operations in batches is to take into consideration our rate-limiting: up\
        \ to 80 requests every 30 seconds. If you exceed this limit, you run the risk\
        \ of Belvo blocking your IP from making further requests.\n  > \n  > For more\
        \ information, or if your IP address has been blocked, please contact our\
        \ [support team](https://support.belvo.com/hc/en-us/requests/new)."
      operationId: Links_destroy
      parameters:
      - description: The `link.id` that you want to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksDestroyResponse'
          description: Authentication to Belvo API failed
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksDestroy404Response'
          description: Not Found
          x-do-not-generate: true
      summary: Delete a link
      tags:
      - Links
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X DELETE \
              https://sandbox.belvo.com/api/links/{id}/ \
              -H 'Host: sandbox.belvo.com' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            client.Links.delete("link_id")
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.links.delete id: 'link-id'
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.links.delete('linkId')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-links-id
      x-accepts: application/json
    get:
      description: Get the details of a specific link.
      operationId: Links_getDetails
      parameters:
      - description: The `link.id` you want to get detailed information about.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Omit certain fields from being returned in the response. For\
          \ more information, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: omit
        required: false
        schema:
          example: "link,balance"
          type: string
          x-konfig-original-example: "link,balance"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-id-get-parameters-1-schema
        style: form
      - description: "Return only the specified fields in the response. For more information,\
          \ see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          example: "link,balance,account"
          type: string
          x-konfig-original-example: "link,balance,account"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-id-get-parameters-2-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksGetDetailsResponse'
          description: Authentication to Belvo API failed
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksGetDetails404Response'
          description: Not Found
          x-do-not-generate: true
      summary: Get a link's details
      tags:
      - Links
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl https://sandbox.belvo.com/api/links/{id} \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Get a link
            link = client.Links.get(id="link_id")
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.links.detail id: 'link-id'
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.links.detail('linkId')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-links-id
      x-accepts: application/json
    patch:
      description: |-
        Change a link's access mode from `single` to `recurrent` or from `recurrent` to single.
        ℹ️ **Note**: When you change a link from `single`` to `recurrent`, they will only be updated the next day at the scheduled interval.
      operationId: Links_changeAccessMode
      parameters:
      - description: The `link.id` you want to change the `access_mode` for.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: e4bb1afb-4a4f-4dd6-8be0-e615d233185b
          format: uuid
          type: string
          x-konfig-original-example: e4bb1afb-4a4f-4dd6-8be0-e615d233185b
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-id-patch-parameters-0-schema
        style: simple
      - description: "Omit certain fields from being returned in the response. For\
          \ more information, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: omit
        required: false
        schema:
          example: "link,balance"
          type: string
          x-konfig-original-example: "link,balance"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-id-patch-parameters-1-schema
        style: form
      - description: "Return only the specified fields in the response. For more information,\
          \ see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          example: "link,balance,account"
          type: string
          x-konfig-original-example: "link,balance,account"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-id-patch-parameters-2-schema
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAccessMode'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksChangeAccessModeResponse'
          description: Bad request error
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksChangeAccessMode401Response'
          description: Authentication to Belvo API failed
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksChangeAccessMode404Response'
          description: Not Found
          x-do-not-generate: true
        "428":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksChangeAccessMode428Response'
          description: MFA Token Required
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksChangeAccessMode500Response'
          description: Unexpected Error
          x-do-not-generate: true
      summary: Change a link's access mode
      tags:
      - Links
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--api-links-id
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: |
        Update the credentials of a specific link. If the successfully updated link is a recurrent one, we automatically trigger an update of the link. If we find fresh data, you'll [receive historical update](https://developers.belvo.com/docs/webhooks) webhooks.
        <div style="background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px"> <strong>Note: </strong> We recommend using our <a href="https://developers.belvo.com/docs/connect-widget" target="_blank">Connect Widget</a> to handle updating <code>invalid</code> or <code>token_required</code> links. </div>
      operationId: Links_update
      parameters:
      - description: The `link.id` you want to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Omit certain fields from being returned in the response. For\
          \ more information, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: omit
        required: false
        schema:
          example: "link,balance"
          type: string
          x-konfig-original-example: "link,balance"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-id-put-parameters-1-schema
        style: form
      - description: "Return only the specified fields in the response. For more information,\
          \ see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          example: "link,balance,account"
          type: string
          x-konfig-original-example: "link,balance,account"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-links-id-put-parameters-2-schema
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinksPutRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksUpdateResponse'
          description: Bad request error
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksUpdate401Response'
          description: Authentication to Belvo API failed
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksUpdate404Response'
          description: Not Found
          x-do-not-generate: true
        "428":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksUpdate428Response'
          description: MFA Token Required
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksUpdate500Response'
          description: Unexpected Error
          x-do-not-generate: true
      summary: Update a link's credentials
      tags:
      - Links
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X PUT https://sandbox.belvo.com/api/links/{id} \
              -H 'Content-Type: application/json' \
              -H 'Host: sandbox.belvo.com' \
              -H 'cache-control: no-cache' \
              -d '{
                  "password": ""
              }' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Update a link
            link = client.Links.put(link="link_id", password="password")
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.links.update(link: 'link-id', password: 'new-password')
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.links.update('linkID', 'newSuperSecret')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-links-id
      x-content-type: application/json
      x-accepts: application/json
  /api/accounts:
    get:
      description: "Get a paginated list of all existing accounts in your Belvo account.\
        \ By default, we return up to 100 results per page."
      operationId: Accounts_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--api-accounts-get-parameters-0-schema
        style: form
      - description: "Indicates how many results to return per page. By default we\
          \ return 100 results per page. \n\nℹ️ The minimum number of results returned\
          \ per page is 1 and the maximum is 1000. If you enter a value greater than\
          \ 1000, our API will default to the maximum value (1000).\n"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--api-accounts-get-parameters-1-schema
        style: form
      - description: "Omit certain fields from being returned in the response. For\
          \ more information, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: omit
        required: false
        schema:
          example: "link,balance"
          type: string
          x-konfig-original-example: "link,balance"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-accounts-get-parameters-2-schema
        style: form
      - description: "Return only the specified fields in the response. For more information,\
          \ see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering)\
          \ DevPortal article."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          example: "link,balance,account"
          type: string
          x-konfig-original-example: "link,balance,account"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-accounts-get-parameters-3-schema
        style: form
      - description: |
          The `link.id` you want to filter by.

          ℹ️ We highly recommend adding the `link.id` filter in order to improve your performance.
        explode: true
        in: query
        name: link
        required: false
        schema:
          example: 8848bd0c-9c7e-4f53-a732-ec896b11d4c4
          format: uuid
          type: string
          x-konfig-original-example: 8848bd0c-9c7e-4f53-a732-ec896b11d4c4
          x-konfig-generated-schema: konfig-generated-schema-paths--api-accounts-get-parameters-4-schema
        style: form
      - description: Return accounts that have a `balance.available` matching exactly
          this value.
        explode: true
        in: query
        name: balance__available
        required: false
        schema:
          example: "4000.00"
          type: string
          x-konfig-original-example: "4000.00"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-accounts-get-parameters-5-schema
        style: form
      - description: Return accounts that have a `balance.available` less than this
          value.
        explode: true
        in: query
        name: balance__available__lt
        required: false
        schema:
          example: "6000.00"
          type: string
          x-konfig-original-example: "6000.00"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-accounts-get-parameters-6-schema
        style: form
      - description: Return accounts that have a `balance.available` less than or
          equal to this value.
        explode: true
        in: query
        name: balance__available__lte
        required: false
        schema:
          example: "5999.00"
          type: string
          x-konfig-original-example: "5999.00"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-accounts-get-parameters-7-schema
        style: form
      - description: Return accounts that have a `balance.available` greater than
          this value.
        explode: true
        in: query
        name: balance__available__gt
        required: false
        schema:
          example: "2000.00"
          type: string
          x-konfig-original-example: "2000.00"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-accounts-get-parameters-8-schema
        style: form
      - description: Return accounts that have a `balance.available` greater than
          or equal to this value.
        explode: true
        in: query
        name: balance__available__gte
        required: false
        schema:
          example: "1999.00"
          type: string
          x-konfig-original-example: "1999.00"
          x-konfig-generated-schema: konfig-generated-schema-paths--api-accounts-get-parameters-9-schema
        style: form
      - description: Return accounts that have a `balance.available` within a range
          of two values.
        explode: true
        in: query
        name: balance__available__range
        required: false
        schema:
[...]
